*.class
.project
.metadata
target
*.iml
.idea

pom.xml.releaseBackup
release.properties

spring-data-dynamodb-examples/src/main/resources/application.properties


# Package Files #
*.jar
*.war
*.ear
.settings
.classpath
.checkstyle
